@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%; 
  background-color: rgb(226, 226, 226);
}

.cabecalho {
  height: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 0.01rem solid rgb(6,139,149);
}

.iconCabecalho {
  margin: 0.5rem;
}

.nomeCabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ciber {
  font-family: 'Goblin';
  font-weight: 800;
  font-size: 2.2rem;
  margin-bottom: -0.4rem;
  color: #068b95;
  text-shadow:#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px;
}

.ameacas {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  text-shadow:#cac8c8 -1px -1px
}

.divBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center; 
  height: 92%;
  padding: 0;
  margin: 0;
}

.divBodyOpcoes1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 15rem;
  background-color: whitesmoke;
}

.divBodyOpcoes1Tabelas, .divBodyOpcoes1Funcoes {
  height: 50%;
  height: 20rem; /* Define a altura fixa da div */
  overflow-y: auto; /* Adiciona a barra de rolagem vertical se o conteúdo exceder a altura */
}

.divBodyOpcoes2FiltroCheck {
  height: 50%;
  height: 20rem; /* Define a altura fixa da div */
  overflow-y: auto; /* Adiciona a barra de rolagem vertical se o conteúdo exceder a altura */
}

.divBodyTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  color: black;
  font-size: 1.2rem;
  padding: 0.4rem 1rem;
  background: rgb(6,139,149);
  background: linear-gradient(40deg, rgba(6,139,149,1) 0%, rgba(21,168,170,1) 45%, rgba(0,222,152,1) 100%);
}

.listaAtributosTabela, .listaAtributosFuncoes, .listaAtributosFiltro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  padding: 0.5rem 0.3rem 0 0.4rem;
  margin: 0;
}

.listaAtributosTabelaItem, .listaAtributosFiltroItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.4rem;
}

.listaAtributosFuncoesItem{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.listaAtributosFuncoesItemLabel{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


.divlistaAtributosTabelaItemLabel{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4rem;
}

.listaAtributosTabelaItemLabel, .listaAtributosFiltroItemLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.listaAtributosTabelaItemInput, .listaAtributosFuncoesItemInput, .listaAtributosFiltroItemInput {
  width: 20px; 
  height: 20px; 
  cursor: pointer;
  border: 0.01rem solid gray;
  border-radius: 0.2rem;
}

.divAtributosAmeacas {
  width: 13.5rem;
  height: 5rem; /* Define a altura fixa da div */
  overflow-y: auto; /* Adiciona a barra de rolagem vertical se o conteúdo exceder a altura */
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem;
}

.listaAtributosTabelaAmeacas{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.listaAtributosTabelaItemAmeaca{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem 0.1rem 0;
}

.listaAtributosTabelaItemLabelAmeacas{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
}

.listaAtributosTabelaItemInputAmeacas{
  width: 1rem; 
  height: 1rem; 
  cursor: pointer;
  border: 0.01rem solid gray;
  border-radius: 0.2rem;
  margin-right: 0.2rem;
}

.divBodyOpcoes2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 13rem;
  background-color: whitesmoke;
}

.divBodyOpcoes2Filtro {
  height: 70%;
}

.labelInputFiltro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labelFiltro {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 1rem 0 0.5rem;
  display: flex;
  align-items: center;
}

.inputFiltro {
  height: 1.5rem;
  border: 0.01rem solid #000;
  border-radius: 0.3rem;
  background-color: rgba(6, 139, 149, 0.36);
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  padding: 0 0.5rem;
}

.buttonGerar {
  margin: 7rem 1rem 0;
  height: 2rem;
  border: 0.01rem solid #000;
  border-radius: 0.3rem;
  background-color: rgba(6, 139, 149, 0.36);
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  padding: 0 0.5rem;
}

.buttonDownload {
  margin: 1rem 1rem;
  height: 2rem;
  border: 0.01rem solid #000;
  border-radius: 0.3rem;
  background-color: rgba(6, 139, 149, 0.36);
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  padding: 0 0.5rem;
}

.buttonGerar:hover, .buttonDownload:hover {
  font-weight: 600;
  background: rgb(6,139,149);
  background: linear-gradient(40deg, rgba(6,139,149,1) 0%, rgba(21,168,170,1) 45%, rgba(0,222,152,1) 100%);
}


.divBodyTabela {
  margin: 20px 0;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: rgba(6,139,149,1); 
  color: white;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #d1e7e0; 
}

.table th, .table td {
  border: 1px solid #e0e0e0;
}